* {
  box-sizing: border-box;
}

.container {
  max-width: 1248px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.col-3 {
  padding-right: 16px;
  padding-left: 16px;
  width: 25%;
}