h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  margin-bottom: 1.5 * $text-font-size;
  margin-top: 0;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  margin-bottom: 1.5 * $text-font-size;
  margin-top: 0;
}

h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  margin-bottom: 1.5 * $text-font-size;
  margin-top: 0;
}

h4 {
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  margin-bottom: 1.5 * $text-font-size;
  margin-top: 0;
}

h5 {
  font-size: $h5-font-size;
  font-weight: $h5-font-weight;
  margin-bottom: 1.5 * $text-font-size;
  margin-top: 0;
}

h6 {
  font-size: $h6-font-size;
  font-weight: $h6-font-weight;
  margin-bottom: 1.5 * $text-font-size;
  margin-top: 0;
}