// Main bakground
$background-color: #f6f3f3;

// Text
$text-font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
$text-color: #343030;
$text-font-size: 16px;
$text-line-height: 1.5;

// Header
$header-background: $background-color;
$header-border-color: #e1e1e1;

// Footer
$footer-color: #555555;
$footer-background: #eceaea;

// Buttons
$btn-color: #fff;
$btn-font-size: $text-font-size * 0.875;
$btn-background: #403432;
$btn-background-hover: #776763;
$btn-background-disabled: #c1b4b1;
$btn-background-active: #5b3a32;

// Forms
$input-border-color: #e1e1e1;
$input-focus-border-color: #b5b5b5;
$placeholder-color: #9f9f9f;

// Heading font-size
$h1-font-size: 1.5 * $text-font-size; // 24px
$h2-font-size: 1.125 * $text-font-size; // 18px
$h3-font-size: 1.125 * $text-font-size; // 16px
$h4-font-size: 0.875 * $text-font-size; // 14px
$h5-font-size: 0.875 * $text-font-size; // 14px
$h6-font-size: 0.875 * $text-font-size; // 14px

// Heading font-weight
$h1-font-weight: 700;
$h2-font-weight: 400;
$h3-font-weight: 700;
$h4-font-weight: 700;
$h5-font-weight: 400;
$h6-font-weight: 300;

@mixin background($size: cover, $position: center, $repeat: no-repeat) {
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}

@mixin placeholder($color, $font-family: $text-font-family, $font-size: $text-font-size * 0.875) {
  &::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
  &::-moz-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
  &:-moz-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
}

%input {
  height: 3rem;
  padding: 1rem;
  min-width: 0;
  max-width: 100%;
  width: 295px;
  border: 1px solid #e1e1e1;
  background-color: transparent;
  transition: border-color 0.2s;
  @include placeholder($placeholder-color);

  &:focus {
    outline: none;
    border-color: $input-focus-border-color;
  }
}

%button {
  min-width: 118px;
  height: 48px;
  color: $btn-color;
  font-size: $btn-font-size;
  font-family: $text-font-family;
  border: none;
  background-color: $btn-background;
  cursor: pointer;
  transition: background-color 0.2s;
  padding: 8px;

  &:hover {
    background-color: $btn-background-hover;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $btn-background-disabled;
    cursor: default;
  }
}

%button-loader {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: rotate 0.8s linear infinite;
}
