<template>
  <div class="row">
    <div class="col-3" v-for="product in products" :key="product.id">
      <ProductCard :product="product" />
    </div>
  </div>
</template>

<script>
import ProductCard from "@/components/ProductCard";
export default {
  name: "CatalogPage",
  components: {
    ProductCard
  },
  data: () => {
    return {
      products: [
        {
          id: 1,
          desc: {
            author: "Сандро Боттичелли",
            name: "Рождение Венеры"
          },
          price: {
            currentPrice: 2000000,
            salePrice: 1000000
          },
          photo: "1.jpg",
          isSold: false
        },
        {
          id: 2,
          desc: {
            author: "Леонардо да Винчи",
            name: "Тайная вечеря"
          },
          price: {
            currentPrice: 3000000
          },
          photo: "2.jpg",
          isSold: false
        },
        {
          id: 3,
          desc: {
            author: "Микеланджело",
            name: "Сотворение Адама"
          },
          price: {
            currentPrice: 6000000,
            salePrice: 5000000
          },
          photo: "3.jpg",
          isSold: false
        },
        {
          id: 4,
          desc: {
            author: "Рембрандт",
            name: "Урок анатомии"
          },
          price: {
            currentPrice: 2000000,
            salePrice: 1000000
          },
          photo: "4.jpg",
          isSold: true
        }
      ]
    };
  }
};
</script>

<style>
</style>