<template>
  <div class="brand" :class="{'brand--dark': dark, 'brand--light': !dark}"></div>
</template>

<script>
export default {
  name: "BrandLogo",
  props: {
    dark: Boolean
  }
};
</script>

<style lang="scss">
.brand {
  display: block;
  width: 48px;
  height: 48px;
  @include background($size: contain);

  &--light {
    background-image: url(../assets/images/logo-light.jpg);
  }

  &--dark {
    background-image: url(../assets/images/logo-dark.jpg);
  }
}
</style>