<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__inner">
        <BrandLogo dark />

        <NavMenu />

        <div class="footer__contacts">
          <a href="tel:+74955555555" class="contact-item">
            <span class="contact-item__icon">
              <img src="@/assets/images/icons/tel.svg" alt="Телефон" />
            </span>
            <span class="contact-item__text">+7 (495) 555-55-55</span>
          </a>

          <div class="contact-item">
            <span class="contact-item__icon">
              <img src="@/assets/images/icons/address.svg" alt="Адрес" />
            </span>
            <span class="contact-item__text">г. Москва, ул. Расплетина, 24</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import BrandLogo from "@/components/BrandLogo";
import NavMenu from "@/components/NavMenu";

export default {
  name: "MainFooter",
  components: {
    BrandLogo,
    NavMenu
  }
};
</script>

<style lang="scss">
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $footer-background;
  color: $footer-color;
  padding: 1.5rem 0;

  &__inner {
    display: flex;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }

  &__contacts {
    display: flex;

    & > * {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}

.contact-item {
  color: inherit;
  text-decoration: none;
  display: flex;
  font-size: 0.875em;

  &__icon {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
  }

  &[href] {
    &:hover {
      color: $btn-background-hover;
    }
  }
}
</style>