<template>
  <main class="main">
    <div class="container">
      <h1 class="main__title">{{ $route.meta.title }}</h1>

      <div class="main__content">
        <slot></slot>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "MainContent"
};
</script>

<style lang="scss">
.main {
  padding-top: 96px;
  padding-bottom: 96px;
  min-height: 100vh;
  display: block;

  &__title {
    margin-bottom: 2.5rem;
  }

  .container {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
</style>