<template>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <BrandLogo />
        <NavMenu />
        <SearchForm />
      </div>
    </div>
  </header>
</template>

<script>
import BrandLogo from "@/components/BrandLogo";
import NavMenu from "@/components/NavMenu";
import SearchForm from "@/components/SearchForm";

export default {
  name: "MainHeader",
  components: {
    BrandLogo,
    NavMenu,
    SearchForm
  }
};
</script>

<style lang="scss">
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $header-background;
  border-bottom: 1px solid $header-border-color;
  padding-top: 1.5em;
  padding-bottom: calc(1.5em - 1px);

  &__inner {
    display: flex;

    & > * {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
  }
}
</style>