<template>
  <ul class="menu">
    <li class="menu__item" v-for="(link, index) in links" :key="index">
      <router-link :to="link.href" class="menu__link">{{link.title}}</router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "NavMenu",
  data: () => {
    return {
      links: [
        { title: "Каталог", href: "/" },
        { title: "Доставка", href: "/delivery" },
        { title: "Оплата", href: "/payment" },
        { title: "Контакты", href: "/contacts" },
        { title: "О галерее", href: "/about" }
      ]
    };
  }
};
</script>

<style lang="scss">
.menu {
  padding: 0;
  margin: 0;
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.875em;

  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;

    &:hover {
      color: $btn-background-hover;
    }
  }
}
</style>