<template>
  <div class="product-card" :class="{'product-card--sold': product.isSold}">
    <div
      class="product-card__photo"
      :style="`background-image: url(${require(`@/assets/images/products/${product.photo}`)});`"
    ></div>

    <div class="product-card__inner">
      <h2 class="product-card__title">
        <div class="product-card__title-name">{{`«${product.desc.name}»`}}</div>
        <div class="product-card__title-author">{{product.desc.author}}</div>
      </h2>

      <div class="product-card__sold" v-if="product.isSold">Продана на аукционе</div>

      <div class="product-card__bottom" v-else>
        <div class="product-card__price">
          <div
            class="product-card__price-sale"
            v-if="product.price.salePrice"
          >{{priceFormatter(product.price.currentPrice)}}</div>

          <div
            class="product-card__price-current"
          >{{priceFormatter(product.price.salePrice || product.price.currentPrice)}}</div>
        </div>

        <button
          class="product-card__btn"
          :class="{'product-card__btn--active': inCart}"
          :disabled="isLoading"
          @click="addToCard"
        >
          <span v-if="isLoading" class="product-card__btn-loader"></span>
          <span v-else>{{inCart ? 'В корзине' : 'Купить'}}</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ProductCard",
  data: () => {
    return {
      inCart: false,
      isLoading: false
    };
  },
  props: {
    product: {
      id: [String, Number],
      desc: {
        author: String,
        name: String
      },
      price: {
        currentPrice: Number,
        salePrice: Number
      },
      photo: String,
      isSold: Boolean
    }
  },
  methods: {
    priceFormatter(price) {
      return `${price.toLocaleString("ru-RU")}  $`;
    },
    cartStorageToggle() {
      const id = this.product.id.toString();
      const storage = localStorage.getItem("cart");

      if (!storage) {
        localStorage.setItem("cart", id);
      } else {
        const storageArray = storage.split(",");
        const idIndex = storageArray.findIndex(el => el === id);

        if (idIndex !== -1) {
          storageArray.splice(idIndex, 1).join(",");
          localStorage.setItem("cart", storageArray);

          if (!storageArray.length) localStorage.removeItem("cart");
        } else {
          storageArray.push(id);
          localStorage.setItem("cart", storageArray.join(","));
        }
      }

      this.inCart = !this.inCart;
    },
    addToCard() {
      this.isLoading = true;

      axios
        .get("https://jsonplaceholder.typicode.com/posts/1")
        .then(() => this.cartStorageToggle())
        .catch(error => console.log(error))
        .then(() => (this.isLoading = false));
    }
  },
  mounted() {
    const storage = localStorage.getItem("cart");
    if (!storage) return;
    this.inCart = storage.split(",").includes(this.product.id.toString());
  }
};
</script>

<style lang="scss">
.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e1e1;
  position: relative;
  height: 100%;

  &--sold {
    opacity: 0.5;
  }

  &__photo {
    @include background;

    &:before {
      content: "";
      display: block;
      padding-top: 57.1429%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 1.25em 1.5em;
    border-top: inherit;
    flex: 1 1 auto;
  }

  &__title {
    flex: 1 1 auto;
    margin-bottom: 1.375rem;
  }

  &__sold {
    flex: 1 1 auto;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    margin-right: 5px;
    white-space: nowrap;
    flex: 1 1 auto;
  }

  &__price-sale {
    color: #a0a0a0;
    font-weight: 300;
    font-size: 0.875em;
    text-decoration: line-through;
  }

  &__price-current {
    font-weight: 700;
  }

  &__btn {
    @extend %button;
    flex: 1 1 auto;
    position: relative;

    &--active {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $btn-background-active;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url(../assets/images/icons/checkmark.svg);
        @include background($size: auto);
        margin-right: 4px;
      }
    }
  }

  &__btn-loader {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;

    &:before {
      @extend %button-loader;
    }
  }
}
</style>