<template>
  <form class="search">
    <input type="text" class="search__input" placeholder="Поиск по названию картины"/>
    <button class="search__submit">Найти</button>
  </form>
</template>

<script>
export default {
  name: "HeaderSearch"
};
</script>

<style lang="scss">
.search {
  display: flex;

  &__input {
    @extend %input;
    border-right: none;    
  }

  &__submit {
    @extend %button;
    width: 122px;
  }
}
</style>