<template>
  <div id="app">
    <MainHeader />

    <MainContent>
      <router-view />
    </MainContent>

    <MainFooter />
  </div>
</template>

<script>
import MainHeader from "@/components/MainHeader";
import MainContent from "@/components/MainContent";
import MainFooter from "@/components/MainFooter";

export default {
  name: "App",
  components: {
    MainHeader,
    MainContent,
    MainFooter
  }
};
</script>

<style lang="scss">
#app {
  position: relative;
}

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: $text-font-family;
  font-size: $text-font-size;
  line-height: $text-line-height;
  color: $text-color;
}
</style>
